<div class="box">
<p>
	〔記者林曉雲／台北報導〕繁星今天放榜，台大充分發揮繁星精神！包括金甌女中、嘉義高商、桃園市立觀音高中、私立大成高中、華東台商子女學校、新北市立竹圍高中、嘉義縣立竹崎高中、私立時雨高中等8校首次摘星台大。另高中校排19％、學測65級分的國立竹北高中學生幸運擠上台大醫技系，校排2％、學測48級分國立卓蘭高中學生獲選入台大森林系。台大註冊組主任洪泰雄今早表示，台大招收繁星生的策略對於偏鄉學校和學生有鼓舞的作用。</p>
	<p>
台大註冊組主任洪泰雄今早表示，台大招收繁星生的策略對於偏鄉學校和學生有鼓舞的作用。（記者林曉雲攝）
台大註冊組主任洪泰雄今早表示，台大招收繁星生的策略對於偏鄉學校和學生有鼓舞的作用。（記者林曉雲攝）
台大今年繁星錄取333人、約占全部大一新生的近一成，高中校排前1％的比例是77％，但也有校排19％擠上台大；藥學系增額一個，數學系因申請學生的學測成績未達標而有一個缺額，去年台大有6個缺額，今年大減。
</p></div>